/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/rnaseq Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // Input options
    input = './assets/test_samples.csv'
    output = './data/output/test' // Path to the output directory
    grouper_config = './assets/grouper_config.yaml'
    input_dir = "$projectDir"

}

profiles {
    standard {
        process.executor = 'local'
        process.container = '2023_acoel_ref:latest'
        docker.enabled = true
    }
}

process {

    errorStrategy = { task.exitStatus in [140,143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 4
    maxErrors     = '-1'

    withLabel:single_thread {
        cpus   = { 1 + (task.attempt) }
        memory = { 4.GB + (task.attempt * 4.GB) }
    }

    withLabel:filter {
        cpus   = { 2 + (task.attempt) }
        memory = { 8.GB + (task.attempt * 4.GB) }
    }

    withLabel:assembly {
        maxRetries    = 2
        cpus   = { 12 + (task.attempt * 4) }
        memory = { 64.GB + (task.attempt * 32.GB) }
    }

    withLabel:polish {
        maxRetries    = 4
        cpus   = { 16 + (task.attempt) }
        memory = { 64.GB + (task.attempt * 4.GB) }
    }
 
    withLabel:align {
        maxRetries    = 4
        cpus   = { 8 + (task.attempt) }
        memory = { 64.GB + (task.attempt * 8.GB) }
    }
 
}
